body {
	background-color: #000000;
	color: #FFFFFF;
}

a {
	color: #111111;
	background-color: #404040;
	padding: 5px;
	border: radius;
}

#menu {
	padding: 10px;
	background-color: #808080;
	text-align: center;
	border: radius;
}

#enTete {
	align-items: center;
	text-align: center;
	border: radius;
}

h1 {
	background-color: #303030;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
	border: radius;
}

#contenu {
	margin-top: 30px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
	border: radius;
}

#msgError {
	color: #FF0000;
}

#tester {
	width: 40%;
	background-color: #404040;
	margin-left: 30%;
	margin-right: 30%;
}

#propUser {
	height: 30%;
	width: 20%;
	margin-left: 20%;
	margin-top: 1%;
}

#alreadyTested {
	width: 80%;
	background-color: #202020;
	margin-left: 10%;
	font-size: 200%;
	text-align: center;
}

img {
	width: 10%;
}

#try {
	margin-left: 70%;
}
footer {
	background-color: #404040;
	padding-bottom: 5px;
	padding-top: 7px;
	text-align: center;
	width: 75%;
	margin-left: 12.5%;
	margin-right: 12.5%;
}
#rglEB {
	width: 10%;
}
